:root {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #06c;
  --first-text-color: #484853;
  --second-text-color: #4c4c57;
  --third-text-color: #808091;
  --fourth-text-color: #ededef;
  --default-text-color: #50505c;
  --border-color: #b3b3b3;
  --selection-color: #0075eb;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #505050;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #484853;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --second-background-color: #f7f7f7;
    --primary-color: #06c;
    --first-text-color: #484853;
    --second-text-color: #4c4c57;
    --third-text-color: #808091;
    --fourth-text-color: #ededef;
    --default-text-color: #50505c;
    --border-color: #b3b3b3;
    --selection-color: #0075eb;
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --scrollbar-color: #505050;
    --scroll-bar-bg-color: #e6e6e6;
    --link-color: #484853;
    --copyright-info-color: #c03;
    --avatar-background-color: #06c;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #383940;
    --second-background-color: #32333a;
    --primary-color: #06c;
    --first-text-color: #d2d2d7;
    --second-text-color: #cbcbd1;
    --third-text-color: #9595a2;
    --fourth-text-color: #242429;
    --default-text-color: #bebec6;
    --border-color: #5c5e6a;
    --selection-color: #0075eb;
    --shadow-color: rgba(128,128,128,0.2);
    --shadow-hover-color: rgba(128,128,128,0.28);
    --scrollbar-color: #303030;
    --scroll-bar-bg-color: #4a4c55;
    --link-color: #c5c5cc;
    --copyright-info-color: #a30029;
    --avatar-background-color: #005cb8;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  }
}
.light-mode {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #06c;
  --first-text-color: #484853;
  --second-text-color: #4c4c57;
  --third-text-color: #808091;
  --fourth-text-color: #ededef;
  --default-text-color: #50505c;
  --border-color: #b3b3b3;
  --selection-color: #0075eb;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #505050;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #484853;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
.dark-mode {
  --background-color: #383940;
  --second-background-color: #32333a;
  --primary-color: #06c;
  --first-text-color: #d2d2d7;
  --second-text-color: #cbcbd1;
  --third-text-color: #9595a2;
  --fourth-text-color: #242429;
  --default-text-color: #bebec6;
  --border-color: #5c5e6a;
  --selection-color: #0075eb;
  --shadow-color: rgba(128,128,128,0.2);
  --shadow-hover-color: rgba(128,128,128,0.28);
  --scrollbar-color: #303030;
  --scroll-bar-bg-color: #4a4c55;
  --link-color: #c5c5cc;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
}
.fade-in-down-animation {
  animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-name: fade-in-down;
}
.title-hover-animation {
  display: inline-block;
  position: relative;
  border-bottom: none;
  line-height: 1.3;
  vertical-align: top;
  color: var(--second-text-color);
}
.title-hover-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--second-text-color);
  visibility: hidden;
  transform: scaleX(0);
  transition-property: color, background, box-shadow, border-color, visibility, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, ease-in-out, ease-in-out;
}
.title-hover-animation:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
@-moz-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
@-webkit-keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
@-o-keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
@keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
* {
  transition-property: color, background, box-shadow, border-color;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: all 0.2s ease;
}
*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}
*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}
html,
body {
  margin: 0;
  padding: 0;
  color: var(--default-text-color);
  background: var(--background-color);
  font-family: Optima-Regular, Optima, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
  font-weight: 400;
  font-size: 15.2px;
  line-height: 22px;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
@media (max-width: 780px) {
  html,
  body {
    font-size: 14.591999999999999px;
    line-height: 21.119999999999997px;
  }
}
@media (max-width: 500px) {
  html,
  body {
    font-size: 13.68px;
    line-height: 19.8px;
  }
}
::selection {
  background: var(--selection-color);
  color: #fff;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--default-text-color);
}
a i,
a span {
  color: var(--default-text-color);
}
a:hover,
a:active {
  text-decoration: none !important;
  color: var(--primary-color);
}
a:hover i,
a:active i,
a:hover span,
a:active span {
  color: var(--primary-color);
}
img[lazyload] {
  padding: 10px;
  margin: 20px auto !important;
  cursor: not-allowed;
  pointer-events: none;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  padding: 8px 16px;
  background: var(--background-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
.btn:hover {
  transform: scaleX(1.06) scaleY(1.06);
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
.btn:hover {
  color: var(--background-color);
  background: var(--primary-color);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear {
  clear: both;
}
.markdown-body {
  font-size: 1rem;
}
.markdown-body blockquote {
  box-sizing: border-box;
  border-left: 5px solid var(--default-text-color);
  margin: 20px 0;
  color: var(--default-text-color);
  background: var(--second-background-color);
}
.markdown-body blockquote p {
  padding: 5px 5px 5px 10px;
}
.markdown-body p {
  line-height: 2;
  color: var(--default-text-color);
}
.markdown-body a {
  position: relative;
  outline: 0;
  text-decoration: none;
  overflow-wrap: break-word;
  cursor: pointer;
  border-bottom: 1px solid var(--third-text-color);
  box-sizing: border-box;
  padding-bottom: 2px;
}
.markdown-body a .fas,
.markdown-body a .far,
.markdown-body a fab {
  margin-left: 6px;
  position: relative;
  color: var(--third-text-color);
}
.markdown-body a:hover {
  text-decoration: underline;
}
.markdown-body a:hover::after {
  background: var(--primary-color);
}
.markdown-body strong {
  color: var(--default-text-color);
}
.markdown-body em {
  color: var(--default-text-color);
}
.markdown-body ul > li,
.markdown-body ol > li {
  margin-left: 16px;
  line-height: 2rem;
}
.markdown-body ul li {
  list-style: disc;
}
.markdown-body ul li ul li {
  list-style: circle;
}
.markdown-body ul li ul li ul li {
  list-style: square;
}
.markdown-body ol li {
  list-style: decimal;
}
.markdown-body ol li ol li {
  list-style: upper-alpha;
}
.markdown-body ol li ol li ol li {
  list-style: upper-roman;
}
.markdown-body li {
  color: var(--default-text-color);
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: var(--second-text-color);
  line-height: 1.5;
}
@media (max-width: 780px) {
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    line-height: 1.25;
  }
}
.markdown-body h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
@media (max-width: 780px) {
  .markdown-body h1 {
    font-size: 1.7rem;
  }
}
.markdown-body h2 {
  font-size: 1.7rem;
  font-weight: 600;
}
@media (max-width: 780px) {
  .markdown-body h2 {
    font-size: 1.6rem;
  }
}
.markdown-body h3 {
  font-size: 1.6rem;
  font-weight: 550;
}
@media (max-width: 780px) {
  .markdown-body h3 {
    font-size: 1.5rem;
  }
}
.markdown-body h4 {
  font-size: 1.5rem;
  font-weight: 550;
}
@media (max-width: 780px) {
  .markdown-body h4 {
    font-size: 1.4rem;
  }
}
.markdown-body h5 {
  font-size: 1.28rem;
  font-weight: 500;
}
@media (max-width: 780px) {
  .markdown-body h5 {
    font-size: 1.18rem;
  }
}
.markdown-body h6 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 780px) {
  .markdown-body h6 {
    font-size: 1.1rem;
    line-height: 1.1;
  }
}
.markdown-body img {
  box-sizing: border-box;
  max-width: 100%;
  cursor: zoom-in;
  display: block;
  box-shadow: 0 0 2px var(--shadow-color);
  transition-property: color, background, box-shadow, border-color, padding, margin;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear, linear;
  margin: 10px 0 2px;
}
.markdown-body > table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}
.markdown-body > table td,
.markdown-body > table th {
  padding: 0;
}
.markdown-body > table th {
  font-weight: 600;
}
.markdown-body > table td,
.markdown-body > table th {
  padding: 6px 13px;
  border: 1px solid var(--border-color);
}
.markdown-body > table tr {
  background-color: var(--background-color);
  border: 1px solid var(--fourth-text-color);
}
.markdown-body > table tr:nth-child(2n) {
  background-color: var(--second-background-color);
}
:root {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #06c;
  --first-text-color: #484853;
  --second-text-color: #4c4c57;
  --third-text-color: #808091;
  --fourth-text-color: #ededef;
  --default-text-color: #50505c;
  --border-color: #b3b3b3;
  --selection-color: #0075eb;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #505050;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #484853;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --second-background-color: #f7f7f7;
    --primary-color: #06c;
    --first-text-color: #484853;
    --second-text-color: #4c4c57;
    --third-text-color: #808091;
    --fourth-text-color: #ededef;
    --default-text-color: #50505c;
    --border-color: #b3b3b3;
    --selection-color: #0075eb;
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --scrollbar-color: #505050;
    --scroll-bar-bg-color: #e6e6e6;
    --link-color: #484853;
    --copyright-info-color: #c03;
    --avatar-background-color: #06c;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #383940;
    --second-background-color: #32333a;
    --primary-color: #06c;
    --first-text-color: #d2d2d7;
    --second-text-color: #cbcbd1;
    --third-text-color: #9595a2;
    --fourth-text-color: #242429;
    --default-text-color: #bebec6;
    --border-color: #5c5e6a;
    --selection-color: #0075eb;
    --shadow-color: rgba(128,128,128,0.2);
    --shadow-hover-color: rgba(128,128,128,0.28);
    --scrollbar-color: #303030;
    --scroll-bar-bg-color: #4a4c55;
    --link-color: #c5c5cc;
    --copyright-info-color: #a30029;
    --avatar-background-color: #005cb8;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  }
}
.light-mode {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #06c;
  --first-text-color: #484853;
  --second-text-color: #4c4c57;
  --third-text-color: #808091;
  --fourth-text-color: #ededef;
  --default-text-color: #50505c;
  --border-color: #b3b3b3;
  --selection-color: #0075eb;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #505050;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #484853;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
.dark-mode {
  --background-color: #383940;
  --second-background-color: #32333a;
  --primary-color: #06c;
  --first-text-color: #d2d2d7;
  --second-text-color: #cbcbd1;
  --third-text-color: #9595a2;
  --fourth-text-color: #242429;
  --default-text-color: #bebec6;
  --border-color: #5c5e6a;
  --selection-color: #0075eb;
  --shadow-color: rgba(128,128,128,0.2);
  --shadow-hover-color: rgba(128,128,128,0.28);
  --scrollbar-color: #303030;
  --scroll-bar-bg-color: #4a4c55;
  --link-color: #c5c5cc;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
}
:root {
  --code-foreground: #535360;
  --code-background: #f2f2f2;
  --highlight-background: #fafafa;
  --highlight-foreground: #535360;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #585865;
  --highlight-gutter-bg-color: #f2f2f2;
}
@media (prefers-color-scheme: light) {
  :root {
    --code-foreground: #535360;
    --code-background: #f2f2f2;
    --highlight-background: #fafafa;
    --highlight-foreground: #535360;
    --highlight-comment: #8e908c;
    --highlight-red: #c82829;
    --highlight-orange: #f5871f;
    --highlight-yellow: #eab700;
    --highlight-green: #718c00;
    --highlight-aqua: #3e999f;
    --highlight-blue: #4271ae;
    --highlight-purple: #8959a8;
    --highlight-gutter-color: #585865;
    --highlight-gutter-bg-color: #f2f2f2;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --code-foreground: #bfbfc7;
    --code-background: #32333a;
    --highlight-background: #34343b;
    --highlight-foreground: #bfbfc7;
    --highlight-comment: #969896;
    --highlight-red: #c66;
    --highlight-orange: #de935f;
    --highlight-yellow: #f0c674;
    --highlight-green: #b5bd68;
    --highlight-aqua: #8abeb7;
    --highlight-blue: #81a2be;
    --highlight-purple: #b294bb;
    --highlight-gutter-color: #c1c1c9;
    --highlight-gutter-bg-color: #32333a;
  }
}
.light-mode {
  --code-foreground: #535360;
  --code-background: #f2f2f2;
  --highlight-background: #fafafa;
  --highlight-foreground: #535360;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #585865;
  --highlight-gutter-bg-color: #f2f2f2;
}
.dark-mode {
  --code-foreground: #bfbfc7;
  --code-background: #32333a;
  --highlight-background: #34343b;
  --highlight-foreground: #bfbfc7;
  --highlight-comment: #969896;
  --highlight-red: #c66;
  --highlight-orange: #de935f;
  --highlight-yellow: #f0c674;
  --highlight-green: #b5bd68;
  --highlight-aqua: #8abeb7;
  --highlight-blue: #81a2be;
  --highlight-purple: #b294bb;
  --highlight-gutter-color: #c1c1c9;
  --highlight-gutter-bg-color: #32333a;
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 0.96rem;
  line-height: 1.5rem;
  color: var(--highlight-foreground);
  background: var(--highlight-background);
}
pre,
code {
  font-family: "Source Code Pro", consolas, Menlo;
}
code {
  padding: 5px;
  word-wrap: break-word;
  border-radius: 2px;
  font-size: 0.96rem;
  color: var(--code-foreground);
  background: var(--code-background);
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: var(--highlight-foreground);
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
  border-spacing: unset;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1rem;
  color: var(--highlight-foreground);
  line-height: 1rem;
  margin-bottom: 1rem;
}
.highlight figcaption a {
  float: right;
  color: var(--highlight-foreground);
}
.highlight figcaption a:hover {
  border-bottom-color: var(--highlight-foreground);
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--highlight-gutter-color);
  text-align: center;
  background-color: var(--highlight-gutter-bg-color);
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--highlight-background);
}
.highlight .line {
  height: 20px;
  color: var(--default-text-color);
}
.highlight .line .attr {
  color: var(--default-text-color);
}
.highlight .line .string {
  color: var(--default-text-color);
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: var(--highlight-deletion);
}
pre .addition {
  background: var(--highlight-addition);
}
pre .meta {
  color: var(--highlight-purple);
}
pre .comment {
  color: var(--highlight-comment);
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: var(--highlight-red);
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: var(--highlight-orange);
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: var(--highlight-green);
}
pre .title,
pre .css .hexcolor {
  color: var(--highlight-aqua);
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: var(--highlight-blue);
}
pre .keyword,
pre .javascript .function {
  color: var(--highlight-purple);
}
.highlight-container {
  position: relative;
}
.highlight-container:hover .copy-btn,
.highlight-container .copy-btn:focus {
  opacity: 1;
}
.copy-btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.8;
  opacity: 0;
  outline: 0;
  padding: 2px 6px;
  position: absolute;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--default-text-color);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition-property: color, background, box-shadow, border-color, opacity;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, ease-in-out;
  color: #fff;
  right: 2px;
  top: 2px;
}
.highlight-container {
  background: #21252b;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  padding-top: 20px;
  margin-top: 10px;
}
.highlight-container::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  width: 12px;
}
.page-container {
  position: relative;
  transition-property: color, background, box-shadow, border-color, padding-left;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s;
  transition-timing-function: ease, ease, ease, ease, ease-out;
}
@media (max-width: 780px) {
  .page-container {
    padding-left: 0 !important;
  }
}
.page-container .page-main-content {
  padding-top: 76px;
  position: relative;
}
.header-shrink .page-container .page-main-content {
  padding-top: 54.72px;
}
@media (max-width: 780px) {
  .header-shrink .page-container .page-main-content {
    padding-top: 49.248px;
  }
}
@media (max-width: 500px) {
  .header-shrink .page-container .page-main-content {
    padding-top: 43.776px;
  }
}
@media (max-width: 780px) {
  .page-container .page-main-content {
    padding-top: 68.4px;
  }
}
@media (max-width: 500px) {
  .page-container .page-main-content {
    padding-top: 60.800000000000004px;
  }
}
.page-container .page-main-content .page-main-content-top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 76px;
  z-index: 1005;
  box-sizing: border-box;
  transition-property: color, background, box-shadow, border-color, transform, padding-left, height;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, ease-out, linear, ease;
}
.page-container .page-main-content .page-main-content-top.hide {
  transform: translateY(-105%);
}
.header-shrink .page-container .page-main-content .page-main-content-top {
  height: 54.72px;
}
@media (max-width: 780px) {
  .header-shrink .page-container .page-main-content .page-main-content-top {
    height: 49.248px;
  }
}
@media (max-width: 500px) {
  .header-shrink .page-container .page-main-content .page-main-content-top {
    height: 43.776px;
  }
}
@media (max-width: 780px) {
  .page-container .page-main-content .page-main-content-top {
    height: 68.4px;
    padding-left: 0 !important;
  }
}
@media (max-width: 500px) {
  .page-container .page-main-content .page-main-content-top {
    height: 60.800000000000004px;
  }
}
.page-container .page-main-content .page-main-content-middle {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background: var(--background-color);
}
@media (max-width: 780px) {
  .page-container .page-main-content .page-main-content-middle {
    padding: 24px 0;
  }
}
@media (max-width: 500px) {
  .page-container .page-main-content .page-main-content-middle {
    padding: 18px 0;
  }
}
.page-container .page-main-content .page-main-content-middle .main-content {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  max-width: 920px;
  height: 100%;
}
@media (max-width: 780px) {
  .page-container .page-main-content .page-main-content-middle .main-content {
    width: 86%;
  }
}
@media (max-width: 500px) {
  .page-container .page-main-content .page-main-content-middle .main-content {
    width: 90%;
  }
}
.page-container .page-main-content .page-main-content-bottom {
  width: 100%;
}
.page-container .page-aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  z-index: 1006;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background: var(--background-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition-property: color, background, box-shadow, border-color, left, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, ease-out, linear;
}
.page-container .page-aside:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .page-container .page-aside {
    left: 0 !important;
    display: none !important;
  }
}
.page-container .post-tools {
  position: fixed;
  top: 106px;
  right: 30px;
  transition-property: color, background, box-shadow, border-color, top;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, ease;
}
.header-shrink .page-container .post-tools {
  top: 84.72px;
}
@media (max-width: 780px) {
  .header-shrink .page-container .post-tools {
    top: 79.24799999999999px;
  }
}
@media (max-width: 500px) {
  .header-shrink .page-container .post-tools {
    top: 73.77600000000001px;
  }
}
@media (max-width: 780px) {
  .page-container .post-tools {
    top: 98.4px;
    right: 10px;
    transform: scale(0.82);
    transform-origin: right top;
  }
}
@media (max-width: 500px) {
  .page-container .post-tools {
    top: 90.80000000000001px;
    right: 5px;
    transform: scale(0.72);
  }
}
.page-container .right-bottom-side-tools {
  position: fixed;
  bottom: 5%;
  right: 0;
}
.search-pop-overlay {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0);
  visibility: hidden;
  z-index: 1008;
  transition-property: color, background, box-shadow, border-color, visibility, background;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease, ease, ease, ease;
}
.search-pop-overlay.active {
  visibility: visible;
  background: rgba(0,0,0,0.35);
}
.search-pop-overlay.active .search-popup {
  transform: scale(1);
}
.search-pop-overlay .search-popup {
  background: var(--background-color);
  border-radius: 5px;
  height: 80%;
  width: 70%;
  margin: auto;
  transform: scale(0);
  z-index: 1006;
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s;
  transition-timing-function: ease, ease, ease, ease, ease;
}
@media (max-width: 780px) {
  .search-pop-overlay .search-popup {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .search-pop-overlay .search-popup {
    width: 90%;
  }
}
.search-pop-overlay .search-popup .search-header {
  background: var(--fourth-text-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  padding: 10px;
}
.search-pop-overlay .search-popup .search-header .search-input-field-pre,
.search-pop-overlay .search-popup .search-header .popup-btn-close {
  font-size: 1.2rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.search-pop-overlay .search-popup .search-header .search-input-field-pre {
  cursor: pointer;
  color: var(--third-text-color);
}
.search-pop-overlay .search-popup .search-header .popup-btn-close {
  color: var(--default-text-color);
}
.search-pop-overlay .search-popup .search-header .search-input-container {
  flex-grow: 1;
  padding: 2px;
}
.search-pop-overlay .search-popup .search-header .search-input-container .search-input {
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1.2rem;
  color: var(--default-text-color);
}
.search-pop-overlay .search-popup .search-header .search-input-container .search-input::-webkit-search-cancel-button {
  display: none;
}
.search-pop-overlay .search-popup .search-header .popup-btn-close {
  cursor: pointer;
}
.search-pop-overlay .search-popup .search-header .popup-btn-close:hover .fas,
.search-pop-overlay .search-popup .search-header .popup-btn-close far,
.search-pop-overlay .search-popup .search-header .popup-btn-close fab {
  color: var(--first-text-color);
}
.search-pop-overlay .search-popup #search-result {
  display: flex;
  height: calc(100% - 55px);
  overflow: auto;
  padding: 5px 25px;
}
.search-pop-overlay .search-popup #search-result .search-result-list {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.search-pop-overlay .search-popup #search-result .search-result-list li {
  border-bottom: 1px dashed var(--border-color);
  padding: 10px 0;
  margin: 10px 0;
  box-sizing: border-box;
}
.search-pop-overlay .search-popup #search-result .search-result-list li:last-child {
  border-bottom: none;
}
.search-pop-overlay .search-popup #search-result .search-result-list li .search-result-title {
  position: relative;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.search-pop-overlay .search-popup #search-result .search-result-list li .search-result-title::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: var(--default-text-color);
}
.search-pop-overlay .search-popup #search-result .search-result-list li .search-result {
  line-height: 2rem;
  margin: 0;
  padding-left: 16px;
  word-wrap: break-word;
}
.search-pop-overlay .search-popup #search-result .search-result-list li a:hover {
  color: var(--default-text-color);
}
.search-pop-overlay .search-popup #search-result .search-result-list li .search-keyword {
  border-bottom: 1px dashed var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}
.search-pop-overlay .search-popup #search-result #no-result {
  color: var(--third-text-color);
  margin: auto;
}
.post-toc-wrap {
  width: 100%;
  font-size: 0.92rem;
  box-sizing: border-box;
}
.post-toc-wrap .post-toc ol {
  list-style: none;
  margin: 0;
  padding: 0 2px 12px 10px;
  text-align: left;
}
.post-toc-wrap .post-toc ol:last-child {
  padding-bottom: 0;
}
.post-toc-wrap .post-toc ol > ol {
  padding-left: 0;
}
.post-toc-wrap .post-toc ol a {
  transition-property: all;
}
.post-toc-wrap .post-toc .nav-item {
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-toc-wrap .post-toc .nav .nav-child {
  display: none;
}
.post-toc-wrap .post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc-wrap .post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc-wrap .post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc-wrap .post-toc .nav .nav-number,
.post-toc-wrap .post-toc .nav .nav-text {
  color: var(--default-text-color);
}
.post-toc-wrap .post-toc .nav .active > a .nav-number,
.post-toc-wrap .post-toc .nav .active > a .nav-text {
  color: var(--primary-color);
}
.post-toc-wrap .post-toc .nav .active-current > a .nav-number,
.post-toc-wrap .post-toc .nav .active-current > a .nav-text {
  color: var(--primary-color);
}
.valine-container #vcomments .vwrap {
  border: 1px solid var(--third-text-color);
}
.valine-container #vcomments .vwrap .vheader .vinput {
  color: var(--default-text-color);
  border-color: var(--third-text-color);
}
.valine-container #vcomments .vwrap .vheader .vinput:focus {
  border-bottom: 1px dashed var(--primary-color) !important;
}
.valine-container #vcomments .vwrap .vedit .veditor {
  color: var(--default-text-color);
}
.valine-container #vcomments .vwrap .vedit .vctrl .vicon {
  fill: var(--default-text-color);
}
.valine-container #vcomments .vwrap .vedit .vctrl .vicon.actived {
  fill: var(--primary-color);
}
.valine-container #vcomments .vwrap button.vsubmit {
  background: transparent !important;
  color: var(--default-text-color) !important;
  border: 1px solid var(--default-text-color) !important;
}
.valine-container #vcomments .vwrap button.vsubmit:hover {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}
.valine-container #vcomments .vcount {
  color: var(--default-text-color);
}
.valine-container #vcomments .vcount .vnum {
  color: var(--second-text-color);
}
.valine-container #vcomments .vcard .vnick .author {
  font-weight: 450;
  font-size: 12px;
  padding: 2px;
  background: -webkit-linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #69c, #c594c5);
  background: linear-gradient(45deg, #e3565e, #ee854b, #f6c258, #90c68a, #5fb3b3, #69c, #c594c5);
  color: #fff;
  margin-left: 2px;
  border-radius: 2px;
}
.valine-container #vcomments .vcard .vhead .vnick {
  color: var(--primary-color);
}
.valine-container #vcomments .vcard .vhead .vsys {
  color: var(--default-text-color);
  background: var(--fourth-text-color) !important;
}
.valine-container #vcomments .vcard .vcontent P {
  color: var(--default-text-color);
}
.valine-container #vcomments .vcard .vcontent P code {
  color: var(--code-foreground);
  background: var(--code-background);
}
.valine-container #vcomments .vcard .vh {
  border-bottom-color: var(--border-color);
}
.valine-container #vcomments .vcard .vquote {
  border-left-color: var(--border-color);
}
.valine-container #vcomments .vcopy {
  color: var(--third-text-color);
}
.valine-container #vcomments .vpage .vmore {
  border: 1px solid var(--border-color);
  color: var(--second-text-color);
}
.comments-container {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}
.comments-container #comment-anchor {
  width: 100%;
  height: 10px;
}
.comments-container .comment-area-title {
  width: 100%;
  margin: 10px 0;
  font-size: 1.38rem;
  color: var(--default-text-color);
}
.comments-container .comment-area-title i {
  color: var(--default-text-color);
}
@media (max-width: 780px) {
  .comments-container .comment-area-title {
    margin: 5px 0;
    font-size: 1.2rem;
  }
}
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1009;
}
.progress-bar-container .pjax-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: var(--pjax-progress-bar-color);
  visibility: hidden;
  opacity: 0;
  z-index: 1008;
  transition-property: color, background, box-shadow, border-color, width;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.1s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
.progress-bar-container .pjax-progress-bar.show {
  opacity: 1;
  visibility: visible;
}
.progress-bar-container .pjax-progress-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1008;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 6px 0 0;
  visibility: hidden;
  font-size: 1.1rem;
  color: var(--default-text-color);
}
@media (max-width: 780px) {
  .progress-bar-container .pjax-progress-icon {
    padding: 6px 5px 0 0;
    font-size: 1rem;
  }
}
.progress-bar-container .pjax-progress-icon.show {
  visibility: visible;
}
.progress-bar-container .scroll-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  visibility: hidden;
  z-index: 1007;
  background: var(--primary-color);
  transition-property: color, background, box-shadow, border-color, width;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.1s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
.progress-bar-container .scroll-progress-bar.hide {
  display: none !important;
}
.header-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  padding-top: 2px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}
.header-wrapper:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
.header-wrapper .header-content {
  position: relative;
  height: 100%;
  width: 80%;
  max-width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1005;
}
.header-wrapper .header-content.has-first-screen {
  max-width: 1104px;
}
@media (max-width: 780px) {
  .header-wrapper .header-content {
    width: 86%;
  }
}
@media (max-width: 500px) {
  .header-wrapper .header-content {
    width: 90%;
  }
}
.header-wrapper .header-content .left {
  display: flex;
  align-items: center;
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
.header-shrink .header-wrapper .header-content .left {
  transform: scale(0.85);
  transform-origin: left;
}
.header-wrapper .header-content .left .logo-title {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  color: var(--first-text-color);
}
@media (max-width: 780px) {
  .header-wrapper .header-content .left .logo-title {
    font-size: 1.98rem;
  }
}
@media (max-width: 500px) {
  .header-wrapper .header-content .left .logo-title {
    font-size: 1.76rem;
  }
}
.header-wrapper .header-content .right .pc .menu-list {
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  .header-wrapper .header-content .right .pc .menu-list {
    display: none;
  }
}
.header-wrapper .header-content .right .pc .menu-list .menu-item {
  float: left;
  position: relative;
  margin-left: 30px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--default-text-color);
}
.header-wrapper .header-content .right .pc .menu-list .menu-item:first-child {
  margin-left: 0;
}
.header-wrapper .header-content .right .pc .menu-list .menu-item a:hover::after,
.header-wrapper .header-content .right .pc .menu-list .menu-item .active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  background: var(--primary-color);
  transition-property: color, background, box-shadow, border-color, transform, bottom;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear, linear;
}
.header-shrink .header-wrapper .header-content .right .pc .menu-list .menu-item a:hover::after,
.header-shrink .header-wrapper .header-content .right .pc .menu-list .menu-item .active::after {
  bottom: -15.36px;
}
.header-wrapper .header-content .right .pc .menu-list .menu-item.search {
  font-size: 1.5rem;
  margin-left: 26px;
}
.header-wrapper .header-content .right .pc .menu-list .menu-item.search i {
  color: var(--default-text-color);
}
.header-wrapper .header-content .right .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .header-content .right .mobile .icon-item {
  display: none;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  color: var(--default-text-color);
}
.header-wrapper .header-content .right .mobile .icon-item i {
  color: var(--default-text-color);
}
.header-wrapper .header-content .right .mobile .icon-item:first-child {
  margin-left: 0;
}
@media (max-width: 780px) {
  .header-wrapper .header-content .right .mobile .icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle {
  width: 18px;
  height: 2.5px;
  position: relative;
  background: var(--default-text-color);
}
.header-drawer-show .header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle {
  background: transparent;
}
.header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle::before,
.header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: var(--default-text-color);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.38s;
  transition-timing-function: ease, ease, ease, ease, ease;
}
.header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle::before {
  top: -6px;
}
.header-drawer-show .header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle::before {
  transform: translateY(6px) rotate(45deg);
}
.header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle::after {
  bottom: -6px;
}
.header-drawer-show .header-wrapper .header-content .right .mobile .menu-bar .menu-bar-middle::after {
  transform: translateY(-6px) rotate(-45deg);
}
.header-wrapper .header-drawer {
  width: 100%;
  padding: 76px 0 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 1002;
  background: var(--background-color);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.38s;
  transition-timing-function: ease, ease, ease, ease, ease;
}
.header-drawer-show .header-wrapper .header-drawer {
  transform: scaleY(1);
}
.header-wrapper .header-drawer .drawer-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header-wrapper .header-drawer .drawer-menu-list .drawer-menu-item {
  font-size: 1rem;
  margin: 6px 0;
  height: 38px;
}
.header-wrapper .header-drawer .drawer-menu-list .drawer-menu-item a {
  padding: 6px 20px;
  border-radius: 20px;
  color: var(--default-text-color);
}
.header-wrapper .header-drawer .drawer-menu-list .drawer-menu-item a:hover {
  color: var(--second-text-color);
  border: 1px solid var(--default-text-color);
}
.header-wrapper .header-drawer .drawer-menu-list .drawer-menu-item a.active {
  border: 1px solid var(--default-text-color);
  color: var(--second-text-color);
}
.header-wrapper .window-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  transition-property: color, background, box-shadow, border-color, transform, opacity;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.38s, 0.38s;
  transition-timing-function: ease, ease, ease, ease, ease, ease;
}
.header-drawer-show .header-wrapper .window-mask {
  visibility: visible;
  opacity: 1;
}
.header-drawer-show {
  overflow: hidden;
}
.post-tools-container .tools-list li {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  background: var(--background-color);
  color: var(--default-text-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
.post-tools-container .tools-list li i {
  color: var(--default-text-color);
}
.post-tools-container .tools-list li:hover {
  background: var(--primary-color);
  color: var(--background-color);
}
.post-tools-container .tools-list li:hover i {
  color: var(--background-color);
}
.post-tools-container .tools-list li:last-child {
  margin-bottom: 0;
}
.post-tools-container .tools-list li:hover {
  transform: scaleX(1.06) scaleY(1.06);
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
.post-tools-container .tools-list li.page-aside-toggle {
  display: none;
}
@media (max-width: 780px) {
  .post-tools-container .tools-list li.page-aside-toggle {
    display: none !important;
  }
}
.side-tools-container {
  position: relative;
}
.side-tools-container .tools-item {
  width: 32px;
  height: 32px;
  font-size: 1.1rem;
  margin-bottom: 3px;
  cursor: pointer;
  border-right: none;
  border-radius: 1px;
  box-shadow: 1px 1px 3px var(--shadow-color);
  color: var(--default-text-color);
  background: var(--background-color);
}
.side-tools-container .tools-item i {
  color: var(--default-text-color);
}
.side-tools-container .tools-item:hover {
  color: var(--background-color);
  background: var(--primary-color);
  box-shadow: 2px 2px 6px var(--shadow-color);
}
.side-tools-container .tools-item:hover i {
  color: var(--background-color);
}
@media (max-width: 780px) {
  .side-tools-container .tools-item {
    width: 28.8px;
    height: 28.8px;
    font-size: 0.99rem;
    margin-bottom: 2px;
  }
}
.side-tools-container .tools-item.rss a {
  border-radius: 1px;
  width: 100%;
  height: 100%;
}
.side-tools-container .tools-item.rss a:hover {
  color: var(--background-color);
  background: var(--primary-color);
  box-shadow: 2px 2px 6px var(--shadow-color);
}
.side-tools-container .side-tools-list {
  opacity: 0;
  transform: translateX(100%);
  transition-property: color, background, box-shadow, border-color, transform, opacity;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear, linear;
}
@media (max-width: 780px) {
  .side-tools-container .side-tools-list .tool-expand-width {
    display: none;
  }
}
.side-tools-container .side-tools-list.show {
  opacity: 1;
  transform: translateX(0);
}
.side-tools-container .exposed-tools-list .tool-scroll-to-top {
  display: none;
}
.side-tools-container .exposed-tools-list .tool-scroll-to-top.show {
  display: flex;
}
.side-tools-container .exposed-tools-list .tool-scroll-to-top:hover .percent {
  display: none;
}
.side-tools-container .exposed-tools-list .tool-scroll-to-top:hover .arrow-up {
  display: flex;
}
.side-tools-container .exposed-tools-list .tool-scroll-to-top .arrow-up {
  display: none;
}
.side-tools-container .exposed-tools-list .tool-scroll-to-top .percent {
  display: flex;
  font-size: 1rem;
}
.archive-list-container .archive-item {
  margin-bottom: 30px;
}
.archive-list-container .archive-item:last-child {
  margin-bottom: 0;
}
.archive-list-container .archive-item .archive-item-header {
  margin-bottom: 10px;
}
.archive-list-container .archive-item .archive-item-header .archive-year {
  font-size: 1.8rem;
  color: var(--second-text-color);
  font-weight: 600;
  margin-right: 6px;
}
@media (max-width: 780px) {
  .archive-list-container .archive-item .archive-item-header .archive-year {
    font-size: 1.6rem;
  }
}
.archive-list-container .archive-item .archive-item-header .archive-year-post-count {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--second-text-color);
}
@media (max-width: 780px) {
  .archive-list-container .archive-item .archive-item-header .archive-year-post-count {
    font-size: 1.08rem;
  }
}
.archive-list-container .archive-item .article-list {
  padding-left: 10px;
}
@media (max-width: 780px) {
  .archive-list-container .archive-item .article-list {
    padding-left: 0;
  }
}
.archive-list-container .archive-item .article-list .article-item {
  font-size: 1rem;
  margin-top: 18px;
}
@media (max-width: 780px) {
  .archive-list-container .archive-item .article-list .article-item {
    margin-top: 16px;
  }
}
@media (max-width: 500px) {
  .archive-list-container .archive-item .article-list .article-item {
    margin-top: 14px;
  }
}
.archive-list-container .archive-item .article-list .article-item:hover a.article-title,
.archive-list-container .archive-item .article-list .article-item:hover .article-date {
  color: var(--primary-color);
}
.archive-list-container .archive-item .article-list .article-item a.article-title {
  color: var(--default-text-color);
}
.archive-list-container .archive-item .article-list .article-item .article-date {
  font-size: 1rem;
  float: right;
}
.footer {
  font-size: 1rem;
  color: var(--third-text-color);
}
.footer a {
  color: var(--third-text-color);
}
.footer a:hover {
  color: var(--primary-color);
}
.footer .info-container {
  padding-bottom: 10px;
  text-align: center;
}
.footer .info-item {
  margin: 5px 0;
}
.footer .icon-animate {
  animation: icon-animate 1.2s ease-in-out infinite;
}
.paginator {
  font-size: 1rem;
  margin-top: 30px;
}
.paginator a.prev {
  float: left;
}
.paginator a.next {
  float: right;
}
.page-template-container {
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}
@media (max-width: 780px) {
  .page-template-container {
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .page-template-container {
    margin-bottom: 18px;
  }
}
.page-template-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .page-template-container {
    padding: 24px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .page-template-container {
    padding: 18px;
    border-radius: 3px;
  }
}
.page-template-container .page-template-content {
  color: var(--default-text-color);
}
.page-template-container .page-template-content h1:first-child,
.page-template-container .page-template-content h2:first-child,
.page-template-container .page-template-content h3:first-child,
.page-template-container .page-template-content h4:first-child,
.page-template-container .page-template-content h5:first-child,
.page-template-container .page-template-content h6:first-child {
  margin-top: 0;
}
.first-screen-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background: url("/images/bg.svg") center center/cover no-repeat;
  background-position-y: 76px;
}
@media (max-width: 780px) {
  .first-screen-container {
    background-position-y: 68.4px;
  }
}
@media (max-width: 500px) {
  .first-screen-container {
    background-position-y: 60.800000000000004px;
  }
}
.first-screen-container .content {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 90%;
}
.first-screen-container .content .description {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.8;
  text-align: center;
  color: var(--default-text-color);
}
@media (max-width: 780px) {
  .first-screen-container .content .description {
    font-size: 1.8rem;
  }
}
.first-screen-container .content .s-icon-list {
  position: absolute;
  bottom: 0;
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 780px) {
  .first-screen-container .content .s-icon-list {
    font-size: 1.44rem;
  }
}
.first-screen-container .content .s-icon-list .s-icon-item {
  margin-right: 20px;
  cursor: pointer;
  line-height: 2;
}
.first-screen-container .content .s-icon-list .s-icon-item:last-child {
  margin-right: 0;
}
.image-viewer-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0);
  visibility: hidden;
  z-index: 1008;
  padding: 6%;
  box-sizing: border-box;
  transition-property: color, background, box-shadow, border-color, visibility, background;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease, ease, ease, ease;
}
.image-viewer-container.active {
  background: rgba(0,0,0,0.5);
  visibility: visible;
}
.image-viewer-container.active img {
  cursor: zoom-out;
  transform: scale(1);
  padding: 2px;
  background: var(--background-color);
}
.image-viewer-container img {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.3s;
  transition-timing-function: ease, ease, ease, ease, ease;
}
.category-list-container {
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
}
.category-list-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .category-list-container {
    padding: 24px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .category-list-container {
    padding: 18px;
    border-radius: 3px;
  }
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item {
  font-size: 1rem;
  margin-bottom: 15px;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item:last-child {
  margin-bottom: 0;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item span.all-category-list-count {
  float: right;
  color: var(--default-text-color);
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item span.all-category-list-count::before {
  content: '[';
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item span.all-category-list-count::after {
  content: ']';
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child {
  margin-left: 10px;
  margin-top: 15px;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child li {
  margin-bottom: 10px;
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child li::before {
  content: '- ';
}
.category-list-container .category-list-content .all-category-list li.all-category-list-item ul.all-category-list-child li:last-child {
  margin-bottom: 0;
}
.article-meta-info {
  font-size: 0.8rem;
  color: var(--third-text-color);
}
.article-meta-info .article-meta-item {
  margin-right: 10px;
}
.article-meta-info .article-meta-item:last-child {
  margin-right: 0;
}
.article-meta-info .article-tags,
.article-meta-info .article-categories {
  display: inline;
}
.article-meta-info .article-tags ul,
.article-meta-info .article-categories ul,
.article-meta-info .article-tags li,
.article-meta-info .article-categories li {
  display: inline;
}
.article-meta-info .article-tags a,
.article-meta-info .article-categories a {
  color: var(--third-text-color);
}
.article-meta-info .article-tags a:hover,
.article-meta-info .article-categories a:hover {
  color: var(--primary-color);
}
@media (max-width: 500px) {
  .article-meta-info .article-wordcount,
  .article-meta-info .article-tags {
    display: none;
  }
}
@media (max-width: 780px) {
  .article-meta-info .article-min2read,
  .article-meta-info .article-categories {
    display: none;
  }
}
.article-copyright-info-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 6px;
  font-size: 1rem;
  background: var(--second-background-color);
}
.article-copyright-info-container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 6px;
  height: 100%;
  background: var(--copyright-info-color);
}
.article-copyright-info-container ul {
  margin-left: 10px;
}
.article-copyright-info-container ul li {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--default-text-color);
}
.article-copyright-info-container ul li .license {
  font-weight: bold;
}
.article-copyright-info-container ul li:last-child {
  margin-bottom: 0;
}
.home-content-container {
  background: var(--background-color);
}
.home-content-container .home-article-list .home-article-item {
  position: relative;
  padding: 28px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  margin-bottom: 38px;
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item {
    margin-bottom: 30.400000000000002px;
  }
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item {
    margin-bottom: 22.8px;
  }
}
.home-content-container .home-article-list .home-article-item:hover {
  transform: scaleX(1.015) scaleY(1.015);
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item {
    padding: 22.400000000000002px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item {
    padding: 16.8px;
    border-radius: 3px;
  }
}
.home-content-container .home-article-list .home-article-item .top-icon {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 1.2rem;
  transform: rotate(45deg);
  color: var(--third-text-color);
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .top-icon {
    font-size: 1.16rem;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-title {
  position: relative;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--second-text-color);
  margin: 0;
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .home-article-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item .home-article-title {
    font-size: 1.2rem;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-content {
  word-wrap: break-word;
  text-align: justify;
  margin: 20px 0;
  color: var(--default-text-color);
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.92rem;
  color: var(--third-text-color);
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info {
  letter-spacing: 0.5px;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span {
  margin-right: 10px;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span:last-child {
  margin-right: 0;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span ul,
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info span li {
  display: inline;
}
@media (max-width: 500px) {
  .home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info .home-article-category {
    display: none;
  }
}
@media (max-width: 780px) {
  .home-content-container .home-article-list .home-article-item .home-article-meta-info-container .home-article-meta-info .home-article-tag {
    display: none;
  }
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container hr {
  border: none;
  flex: 1;
  height: 1px;
  background: var(--border-color);
  margin: 0 10px;
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container a {
  color: var(--third-text-color);
}
.home-content-container .home-article-list .home-article-item .home-article-meta-info-container a:hover {
  color: var(--primary-color);
}
.archive-container {
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}
@media (max-width: 780px) {
  .archive-container {
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .archive-container {
    margin-bottom: 18px;
  }
}
.archive-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .archive-container {
    padding: 24px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .archive-container {
    padding: 18px;
    border-radius: 3px;
  }
}
.article-content-container {
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}
@media (max-width: 780px) {
  .article-content-container {
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .article-content-container {
    margin-bottom: 18px;
  }
}
.article-content-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .article-content-container {
    padding: 24px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .article-content-container {
    padding: 18px;
    border-radius: 3px;
  }
}
.article-content-container .article-title {
  color: var(--second-text-color);
  font-weight: 600;
  font-size: 1.6rem;
}
@media (max-width: 780px) {
  .article-content-container .article-title {
    font-size: 1.44rem;
  }
}
@media (max-width: 500px) {
  .article-content-container .article-title {
    font-size: 1.28rem;
  }
}
.article-content-container .article-header {
  position: relative;
  padding-left: 46px;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
}
.article-content-container .article-header .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}
.article-content-container .article-header .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: var(--avatar-background-color);
}
.article-content-container .article-header .info {
  padding: 2px 0;
  margin-left: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.article-content-container .article-header .info .author {
  font-weight: 600;
  font-size: 1.18rem;
  display: flex;
  align-items: center;
}
.article-content-container .article-header .info .author .name {
  color: var(--default-text-color);
}
.article-content-container .article-header .info .author .author-label {
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 5px;
  border-radius: 5px;
  color: #fff;
  background: var(--selection-color);
}
.article-content-container .article-header,
.article-content-container .article-header-meta-info {
  margin-top: 16px;
}
@media (max-width: 780px) {
  .article-content-container .article-header,
  .article-content-container .article-header-meta-info {
    transform: scale(0.9);
    transform-origin: left top;
  }
}
.article-content-container .article-content {
  margin-top: 30px;
  padding-bottom: 10px;
  word-wrap: break-word;
  border-bottom: 1px solid var(--border-color);
  color: var(--default-text-color);
}
.article-content-container .post-copyright-info {
  margin-top: 30px;
  width: 100%;
}
.article-content-container .article-nav {
  height: 40px;
  margin-top: 30px;
}
.article-content-container .article-nav .article-prev,
.article-content-container .article-nav .article-next {
  max-width: 220px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition-property: color, background, box-shadow, border-color, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, linear;
}
.article-content-container .article-nav .article-prev:hover,
.article-content-container .article-nav .article-next:hover {
  transform: scaleX(1.03) scaleY(1.03);
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .article-content-container .article-nav .article-prev,
  .article-content-container .article-nav .article-next {
    padding: 8px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .article-content-container .article-nav .article-prev,
  .article-content-container .article-nav .article-next {
    padding: 6px;
    border-radius: 3px;
  }
}
.article-content-container .article-nav .article-prev a,
.article-content-container .article-nav .article-next a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.article-content-container .article-nav .article-prev a.prev,
.article-content-container .article-nav .article-next a.prev {
  padding-left: 16px;
}
.article-content-container .article-nav .article-prev a.next,
.article-content-container .article-nav .article-next a.next {
  padding-right: 16px;
}
.article-content-container .article-nav .article-prev a .arrow-icon,
.article-content-container .article-nav .article-next a .arrow-icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 16px;
}
.article-content-container .article-nav .article-prev a .arrow-icon.left,
.article-content-container .article-nav .article-next a .arrow-icon.left {
  left: 0;
}
.article-content-container .article-nav .article-prev a .arrow-icon.right,
.article-content-container .article-nav .article-next a .arrow-icon.right {
  right: 0;
}
.article-content-container .article-nav .article-prev a .title,
.article-content-container .article-nav .article-next a .title {
  width: 100%;
  height: 100%;
}
.article-content-container .article-nav .article-prev {
  float: left;
}
.article-content-container .article-nav .article-next {
  float: right;
}
.article-content-container .article-nav .post-nav-item {
  display: none;
}
@media (max-width: 780px) {
  .article-content-container .article-nav .post-nav-item {
    display: inline-block;
  }
}
.article-content-container .article-nav .post-nav-title-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 780px) {
  .article-content-container .article-nav .post-nav-title-item {
    display: none;
  }
}
.category-container {
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}
@media (max-width: 780px) {
  .category-container {
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .category-container {
    margin-bottom: 18px;
  }
}
.category-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .category-container {
    padding: 24px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .category-container {
    padding: 18px;
    border-radius: 3px;
  }
}
.category-container .category-name {
  color: var(--second-text-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}
.category-container .category-name i {
  color: var(--second-text-color);
}
@media (max-width: 780px) {
  .category-container .category-name {
    font-size: 1.44rem;
  }
}
@media (max-width: 500px) {
  .category-container .category-name {
    font-size: 1.28rem;
  }
}
.tag-container {
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}
@media (max-width: 780px) {
  .tag-container {
    margin-bottom: 24px;
  }
}
@media (max-width: 500px) {
  .tag-container {
    margin-bottom: 18px;
  }
}
.tag-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .tag-container {
    padding: 24px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .tag-container {
    padding: 18px;
    border-radius: 3px;
  }
}
.tag-container .tag-name {
  color: var(--second-text-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}
.tag-container .tag-name i {
  color: var(--second-text-color);
}
@media (max-width: 780px) {
  .tag-container .tag-name {
    font-size: 1.44rem;
  }
}
@media (max-width: 500px) {
  .tag-container .tag-name {
    font-size: 1.28rem;
  }
}
.tagcloud-container {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--background-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
}
.tagcloud-container:hover {
  box-shadow: 2px 2px 8px var(--shadow-hover-color);
}
@media (max-width: 780px) {
  .tagcloud-container {
    padding: 16px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .tagcloud-container {
    padding: 12px;
    border-radius: 3px;
  }
}
.tagcloud-container .tagcloud-content {
  text-align: justify;
}
.tagcloud-container .tagcloud-content a {
  padding: 10px 8px;
  display: inline-block;
  box-sizing: border-box;
}
